body {
    background-image: url(https://webgradients.com/public/webgradients_png/002%20Night%20Fade.png);
    background-size: 100vh;
    font-family: Times New Roman;
  }
  
  .menu {
    font-color: blue;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-tittle, 
  .site-subtittle {
    color: #1E1E13;
    text-align: center;
  }
  
  .site-tittle {
    font-size: 40px;
  }
  
  .site-subtittle {
    font-style: italic;
  }
  
